@import "vars";
@import "vendor/reset";
@import "vendor/libs";
@import "vendor/keyframes";
@import "vendor/fonts";

html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.title {
  font-family: $heading-ff;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.04;
}

section {
  text-align: center;
}

/* Blocks */ 
@import "blocks/page";
@import "blocks/decor";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/main";
@import "blocks/container";
@import "blocks/intro";
@import "blocks/news";

