.header {
  z-index: 2;
  width: 100%;
  padding: 2.5rem 15vh;

  color: $black;
  font-family: $heading-ff;
  text-align: center;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.header-inner {
  width: 100%;
  max-width: 120rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}

.header-logo {
  height: 7rem;
  width: 5rem;

  display: flex;
  align-items: center;
}

.header-nav {
  max-width: 48rem;
  width: 100%;
  margin-left: 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-link {
  color: $black;
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.4s ease-in-out;
  font-family: $secondary-ff;
  font-size: 18px;

  &:hover {
    border-bottom: 1px solid $black;
  }

}

.header-btn {
  border-radius: 32px 0;
}

