.intro {
  

  color: $black;
}

.intro__slider {
  width: 100%;

  background: $primary;
  border-radius: 5rem;


}

.intro__slider-item {
  padding: 20rem 10rem;
}

.intro__slider-title {
  padding-bottom: 2rem;

  font-size: 3rem;
  font-weight: 500;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}