.nav__list {
  display: flex;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.nav__link {
  display: block;
  padding: 1rem 1.35rem;
  position: relative;
  

  font-weight: 500;
  font-size: 2rem;
  
  text-transform: uppercase;
  color: $primary;
  text-decoration: none;

  transition: background-color 0.2s linear;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primary;
  }

  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }

  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }

  &:hover,
  &:focus {

    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }

    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }

    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }

  &--phone {
    color: $black;

    &::before,
    &::after {
      background-color: $black;
      left: 10%;
      right: 7%;
    }
  }
}