<header class="header">
  <div class="header__inner">
    <h2 class="header__logo">Lorem<span>Ipsum</span></h2>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Доставка</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Контакты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">О нас</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Услуги</a>
        </li>
      </ul>
    </nav>
    <div class="header__slider ">
      
      <div class="header__slider-item">
        <a class="header__phone"  href="tel:380675481230" >+380 67 648 1230</a>
      </div>

      <div class="header__slider-item">
        <a class="header__phone "  href="tel:380675481230" >+380 67 648 1230</a>
      </div>

      <div class="header__slider-item">
        <a class="header__phone"  href="tel:380675481230" >+380 67 648 1230</a>
      </div>

    </div>
    

  </div>

</header>